body {
    margin: 0;
    width: 100%;
}

.container {
    display: block;
    width: 100%;
    min-height: 1000px;
}

.header {
    position: fixed;
    height: 100px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background: #B8E5F5;
}
.title {
    color: white;
    font-size: 40px;
    text-align: center;
}

.content {
    margin-top: 100px;
    margin-left: 240px;
}

.side {
    position: absolute;
    height: 100%;
    top: 100px;
    left: 0;
    background: #AAD5E3;
    width: 180px;
    padding: 30px;
}

.button {
    background-color: white;
    border: none;
    color: #AAD5E3;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
}

ul {
    margin: 0;
    padding: 20px;
    
}
ul li {
   
}
.roomlist {
    color: white;
}

#theForm {
    position: absolute;
    border-style: solid;
    border-color: #CE9ADB;
    background-color: white;
}

.input {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

.form {
    padding: 10px;
    border-style: solid;
    border-color: #CE9ADB;
    background-color: white;
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 130px;
}

.formHeading {
    text-align: center;
    color: #CE9ADB;
}

.formContent, #home {
    padding-bottom: 20px;
    color: #CE9ADB;
    text-align: center;
}

#home {
    margin-top: 130px;
}

.button2 {
    padding: 10px;
    width: 100px;
    font-size: 12px;
    margin-top: 5px;
    border: none;
    background-color: #CE9ADB;
    color: white; 
}

.button2:hover {
    background-color: #CE9ACC;
}

.room {
    height: 800px;
    color: black;
}

.messagelist {
    color: #AAD5E3;
}

.roomHeading {
    color: #AAD5E3;
    padding-left: 20px;
    padding-top: 20px;
}

#messageBox {
    width: 500px;
    height: 400px;
    overflow: auto;
    border: 3px solid #eee;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

#newMessageBox {
    display: inline;
    float: left;
    width: 375px;
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 14px;
}

#sendMessage {
    display: inline;
    float: right;
    margin-top: 22px;
}

#sendMessageContainer {
    display: block;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}