<ul>
    <li ng-repeat="room in landing.rooms">{{ room.$value }}</li>
</ul>
<!--
<tr class="album-view-song-item" ng-mouseover="hovered = true" ng-mouseleave="hovered = false" ng-repeat="song in album.albumData.songs">
    <td class="song-item-number">
        <span ng-show="!song.playing && !hovered">{{ $index + 1 }}</span>
        <a class="album-song-button" ng-show="!song.playing && hovered" ng-click="album.songPlayer.play(song)"><span class="ion-play"></span></a>
        <a class="album-song-button" ng-show="song.playing" ng-click="album.songPlayer.pause(song)"><span class="ion-pause"></span></a>
    </td>
    <td class="song-item-number">{{ song.title }}</td>
    <td class="song-item-duration">{{ song.duration }}</td>
</tr>-->
